<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>MERP</h1>
            <form role="form" [formGroup]="loginForm" (ngSubmit)="onLoggedin()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="username" name="username"  class="form-control input-underline input-lg" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" formControlName="password" name="password" class="form-control input-underline input-lg" placeholder="Password">
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="loginForm.errors || loginForm.invalid" > Log in </button>
            </form>
        </div>
    </div>
</div>
